<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Reservas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</head>

<div th:replace="shared/header.html :: header"></div>
<div class="mt-3 ms-5 me-5">
    <h2>Crea tú partida personalizada</h2>
    <div class="container mt-4 ms-0">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-7">
                <div class="row pt-2 pb-2">
                    <p class="fs-5 fst-italic mb-md-3"><b>Para crear tu partida personalizada te invitamos a llenar nuestro formulario con los detalles de tu partida y al presionar el botón de siguiente escoger la fecha, la cancha y el horario que mas te convenga:</b></p>
                        <form class="form-group row" th:action="@{/partida/reservar}" th:object="${reserva}"  method="post">
                            <input type="hidden" th:field="*{idReserva}" />
                            <input type="hidden" th:field="*{estado}" />
                            <input type="hidden" th:field="*{tipo}" />
                            <label for="Categoria" class="col-12 col-sm-4 col-md-2 col-lg-1 mb-sm-2 col-form-label" style="width:95px;font-size:large;"><b>Categoría:</b></label>
                            <div class="col-12 col-sm-8 col-md-4 col-lg-4 mb-sm-2">
                                <select class="form-select" id="Categoria" name="Categoria"  th:field="*{categoria}">
                                    <option value="1">Masculino</option>
                                    <option value="2">Femenino</option> 
                                    <option value="3">Mixto</option>
                                </select>
                            </div>
                            <label for="Nivel" class="col-12 col-sm-4 col-md-2 col-lg-1 ms-sm-4 col-form-label" style="width:70px;font-size:large;"><b>Nivel:</b></label>
                            <div class="col-12 col-sm-8 col-md-4 col-lg-4 mb-3">
                                <select class="form-select" id="Nivel" name="Nivel" th:field="*{nivel}">
                                    <option value="6">Sexta</option>
                                    <option value="5">Quinta</option>
                                    <option value="4">Cuarta</option>
                                    <option value="3">Tercera</option>
                                    <option value="1">Open</option>
                                  </select>
                            </div>
                            <button type="submit" class="col-12 col-sm-4 col-md-3 m-2 m-sm-3 btn btn-primary ">Crear Partida</button>
                            <a  th:href="@{/partida/lista}"  class="col-12 col-sm-4 col-md-3 m-2 m-sm-3 btn btn-secondary">Volver Atrás</a>
                        </form> 
                </div>
            </div>

            <div class="d-none d-lg-block col-12 col-lg-4 col-xl-5 ">
                <img src="../../../assets/FormularioImg.jpg" width="350px">
            </div>
        </div>

    </div>
</div>



<div th:replace="shared/footer.html :: footer"></div>
</html>